/*all styles*/
*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: #fffceb;
}
h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
a{
    color: #7A2F1F;
}
a:hover{
    color: #d9534f;
}
.messages {
    margin: 10px 0;
}
.form-control:focus {
    color: #495057;
    border-color: #ffffff;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(172,41,37,.25);
    box-shadow: 0 0 0 0.2rem rgba(172,41,37,.25);
}

/*ALL PAGES*/

/*menu sidebar all pages*/
.h1_message{
    text-align: center;
}
.menu_sidebar_pages ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}
.menu_sidebar_pages a{
    margin-left: 4px;
    margin-bottom: 1px;
    text-decoration: none;
}
.menu_sidebar_pages a:hover{
    text-decoration: underline;
}
a.menu_sidebar_pages_item {
    font-size: 18px !important;
}

/*content block all pages*/
.page_contact {
    margin: 20px;
}
span.content_block {
    background-color: #ffffff;
    display: block;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
    margin: 24px 0;
}
.content_margin_single_posts_preview {
    margin: 10px;
}
.bg-dark {
    background-color: #801902!important;
}
.btn-form{
    color: #fff;
    background-color: #7A2F1F;
}
.btn-form:hover{
    color: #fff;
    background-color: #d9534f;
}
.btn-contact:hover{
    color: #fff;
    background-color: #94321C;
}
a.nav-link{
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}
.navbar-brand{
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

/*menu logout*/
.list-group-item a{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}
.list-group-item {
    margin-bottom: 0;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #cccccc;
}
.list-group-item:last-child {
    border-bottom: 0;
}
.list-group-item {
    padding: 10px;
}
.dropdown-menu{
    width: 200px;
}

/*paginate all pages blog*/
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ac2925;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ac2925;
    border-color: #ac2925;
}
.page-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #d9534f;
    border-color: #d9534f;
}

/*HOME PAGE - logout index page*/
.index_page_sidebar_comments{
    padding: 10px;
}
.index_page_sidebar_single_comment{
    margin-bottom: 5px;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.index_page_sidebar_comments_title {
    padding: .25rem;
    background-color: #f5f8fa;
    border-radius: .25rem .25rem 0 0;
}
.index_page_sidebar_comments_title a{
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 20px;
}
.index_page_sidebar_comments_text {
    padding: .25rem;
    margin: 2px 0;
}
.index_page_sidebar_comments_info{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    color: #c2c1c1;
    padding: 0 8px;
    border-top: 1px dashed #ccc;
}
.index_page_sidebar_comments_info span{
    float: right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    color: #c2c1c1;
}

/*CATEGORY PAGE - logout category index page*/

/* logout category index page - block single post*/
.post_on_cat_page{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    margin: 10px 0;
}
.post_on_cat_page_title a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}
.post_on_cat_page_content{
    margin-top: -5px;
}
.post_on_cat_page_text{
    margin-top: 10px;
}
.post_on_cat_page_info{
    text-align: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
}
.post_on_cat_page_info a{
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 16px;
 }
.post_on_cat_page img{
    margin: 5px 0;
}
.dashed_line_cat_index_page{
    border-top: 1px dashed #ccc;
    margin: 5px 0 5px;
}

/*POST PAGE - logout post index page*/

/*logout post single*/
.post_single_page_admin_buttons.text-right {
    margin: 10px 0;
}
.post_single_page h1{
    text-align: center;
}
.post_single_page h2{
    font-size: 20px;
    font-weight: bold;
}
.post_single_page strong{
    font-size: 16px;
    font-weight: bold;
}
.post_single_page img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.author-name {
    float: left;
    margin-left: 15px;
}
.author-name>h4 {
    margin: 5px 0;
}
.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
    margin: 5px 0;
}
.comment_padding{
    padding: 10px 0 0 30px;
}
.comment{
    background-color: #ffffff;
    display: block;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
    margin: 6px 0;
}
.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comments-title>span {
    margin-right: 15px;
}
h3.comments-title {
    padding-left: 20px;
    margin: 15px 0;
}

/*search page*/
.search_title_posts{
    text-align: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}
/*ADMIN*/

/*all info in numbers*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #801902;
    border-radius: 10px;
}
/*menu vertical sidebar admin*/
.vertical-menu {
    width: 100%;
}
.vertical-menu a {
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
    color: #000000;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:last-child {
    border-bottom: none;
}
.vertical-menu a:hover {
    color: #ffffff;
    background-color: #94321C;
}
.vertical-menu a.active {
    background-color: #7A2F1F;
    color: #ffffff;
}
/*add button admin: green button*/
.link_add {
    display: block;
    width: 50%;
    margin: 20px auto;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.link_add:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

/*button small: warning and danger*/
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.not_edit {
    display: block;
    border: 1px solid #d9534f;
    background-color: #ffffff;
    color: #d9534f;
    text-align: center;
    padding: 1px;
    border-radius: 3px;
    font-size: 13px;
}
.url_ok {
    display: block;
    border: 1px solid #28a745;
    background-color: #ffffff;
    color: #28a745;
    text-align: center;
    padding: 1px;
    border-radius: 3px;
    font-size: 13px;
}

/*admin page buttons: edit -> all pages in top right*/
.admin_page_buttons_edit {
    text-align: right;
}
/*admin table*/
.table {background-color: #ffffff;}
.table th {padding: 4px;}
.table td {padding: 4px;}

/*admin dashed line*/
.dashed_line{
    border-top: 1px dashed #0089fa;
    margin: 5px 0 25px;
}
/*admin red stars*/
.star{
    color: #ff0000;
}
/*admin text footnote red stars*/
.footnote {
    font-size: 12px;
    font-family: monospace;
    margin-bottom: 20px;
}

/* template: admin.categories_menu.edit - select parent in children categories*/
select.admin_select_parent_menu {
    border: none;
    color: #000000;
    -webkit-appearance: none;
}

/*admin comments*/
.admin_comment_title{
    font-family: Yanone Kaffeesatz;
    font-size: 20px;
}

.admin_comment_show_block{
    background-color: #ffffff;
    display: block;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
    margin: 5px auto;
}